<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter RTSP URL</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <style>
      body {
        background-color: #1f2937;
      }
    </style>
  </head>
  <body class="bg-gray-900 text-white">
    <div class="container mx-auto px-6 py-12">
      <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-lg mx-auto">
        <h1 class="text-3xl font-bold text-center mb-6">Enter CCTV RTSP URL</h1>
        <form method="POST" action="/feed">
          <div class="form-group mb-6">
            <label for="rtsp_url" class="block text-lg font-medium mb-2"
              >RTSP URL:</label
            >
            <input
              type="text"
              id="rtsp_url"
              name="rtsp_url"
              class="form-control w-full p-3 bg-gray-700 border border-gray-600 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500"
              placeholder="rtsp://username:password@ip:port/stream_path"
              required
            />
          </div>
          <button
            type="submit"
            class="w-full py-3 bg-gradient-to-r from-orange-500 to-red-500 hover:from-orange-600 hover:to-red-600 text-white font-bold rounded-full transform hover:scale-105 transition duration-300 ease-in-out"
          >
            Set CCTV Feed
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
